@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@font-face {
  font-family:"linja pona";
  src: url('https://jan-ne.github.io/linja-pona-4.2.otf')  format('opentype');
  font-weight: 400px;
}

:root {
  --text-color: black;
  --bg-color: LightGray;
  --dropdown-color: #e9e9e9;
  --header-color: #6393F9;
  --content-color: white;
}

body {
  margin: 0px;
  color: var(--text-color);
  background-color: var(--bg-color);
}

* {
  font-family: "Open Sans";
}

/*Light/Dark Mode*/

body.light-mode {
  --text-color: black;
  --bg-color: LightGray;
  --dropdown-color: WhiteSmoke;
  --header-color: #6393F9;
  --content-color: white;
}

body.dark-mode {
  --text-color: #dedede;
  --bg-color: #131316;
  --dropdown-color: #18181b;
  --header-color: #08090c;
  --content-color: #1e1e20;
}

body.dark-mode .dark-invert {
    filter: invert(0.9);
}

/*Default Dark Mode*/
@media (prefers-color-scheme: dark) {
  body { 
    --text-color: #dedede;
    --bg-color: #131316;
    --dropdown-color: #18181b;
    --header-color: #08090c;
    --content-color: #1e1e20;
  }
  .dark-invert {
    filter: invert(0.9);
  }
}

header {
  background-color: var(--header-color);
  color: white;
  font-size: 20px;
  font-weight: 400;
}

header img {
  padding: 0px 15px;
  vertical-align: middle;
}

header.home {
  display:inline-block;
  float:left;
  font-size: 25px;
}

header a {
  text-decoration:none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

nav {
  display:inline-block;
  float:right;
  margin-top: 18px;
  margin-right: 25px;
}

header ul {
  display:inline-block;
  margin: 0px;
  padding: 0px;
  list-style-type:none;
}

header li {
  display:inline;
  padding: 0px 10px;
  cursor: pointer;
}

header button {
  background:none;
  border:none;
  color: white;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 28px;
  cursor: pointer;
}

.bigdropdown {
  display: none;
  background-color: var(--dropdown-color);
  color: var(--text-color);
}

header button:focus {
  border: none;
  outline: none;
}

.dropdownmenu li {
  padding: 5px 48px;
  text-align: center;
}

.dropdownmenu {
  position:absolute;
  right:0;
  margin-top: 59px;
  z-index: 2;
}

.smalldropdown {
  display: none;
  background-color: var(--header-color);
}

.shelf {
  background-color: var(--content-color);
  padding: 10px 0px;
  width: 100%;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.shelf ul {
  list-style-type: none;
  padding: 12px;
  margin: 0px;
}

.shelf a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  display: block;
}

.selected {
  position: relative;
  left: -8px;
  border-left: 2px solid var(--text-color);
  padding-left: 6px;
  border-radius: 2px;
}

.shelf h1 {
  grid-column: span 5;
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
}

.book, .item {
  width: fit-content;
  margin: auto;
}

.book img {
  display: block;
  max-height: 300px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.item img {
  display: block;
  max-height: 100px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.bar {
  background-color: var(--dropdown-color);
  position: sticky;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  padding: 0px 20px;
  top: 0;
  z-index: 1;
}

.bar button {
  background-color: var(--dropdown-color);
  color: var(--text-color);
  border: none;
  width: fit-content;
}

.toc {
  background-color: var(--dropdown-color);
  display: none;
  position: absolute;
  top: 32px;
  width: fit-content;
  left: 0;
  right: 0;
  margin: auto;
  max-height: calc(100vh - 235px);
  overflow-y: auto;
}

.toc ul {
  list-style: none;
  width: fit-content;
}

.toc a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

.font-menu {
    background-color: var(--dropdown-color);
    display: none;
    position: absolute;
    top: 32px;
    right: 0;
    text-align: right;
}

button.center {
  margin: auto;
  display: flex;
}

.content-scroll {
  margin: auto;
  width: 51em;
  max-width: 100%;
  overflow-x: auto;
}

.content {
  margin:auto;
  padding: 96px;
  min-height: calc(100vh - 77px);
  box-sizing: border-box;
  background-color: var(--content-color);
  transform-origin: 0 0;
}

.content h1 {
  scroll-margin: 53px;
}

.content h3 {
  scroll-margin: 50px;
}

.content a {
  color: #4980f8;
  text-decoration: none;
}

.translate-icon {
  position: relative;
  left: 730px;
  top: -96px;
  display: block;
  width: 37px;
  padding-bottom: 7px;
  text-align: center;
  background-color: var(--dropdown-color);
  color: var(--text-color);
  font-variant: small-caps;
  font-weight: bold;
  font-size: 22px;
}

.page {
  height: 54.125em;
  padding: 96px;
}

.page p {
  margin: auto 0px;
  text-indent: 50px;
}

.page p.poem {
  margin: 11px 0px;
}

code {
    background-color: var(--bg-color);
    font-family: monospace;
    border-radius: 3px;
    padding: 0px 3px;
}

th {
  padding-right: 20px;
}

.scroll {
  overflow-x:auto;
}

table.formatted, table.formatted2 {
  border-collapse: collapse;
}

.formatted th, .formatted td { 
  border: solid 1px var(--content-color);
  padding: 5px 10px
}

.formatted th {
  background-color: var(--header-color);
  color: white;
}
 
.formatted td {
  background-color: var(--dropdown-color);
}

.formatted2 th, .formatted2 td {
  border: solid 2px var(--bg-color);
  padding: 5px 10px;
}

.center td {
  text-align: center;
}

img.center {
  margin: auto;
  display: block;
  max-width: 100%;
}

img.right {
  float: right;
  margin-left: 10px;
}

img.left {
  float: left;
  margin-right: 10px;
}

.txt-center {
  text-align: center;
}

.dark-mode .invert {
  filter: invert(0.87);
}

.page .txt-center {
  text-indent: 0px;
}

x-pos {
  text-transform: lowercase;
  font-variant: small-caps;
}

x-b {
  font-weight: 400;
}

abbr {
  text-decoration: none;
  cursor: default;
}

.indent {
  text-indent: 7ch;
  margin: 2px 0px;
}

hr.pagebreak {
  height: 6px;
  background-color: var(--bg-color);
  border: solid 1px var(--bg-color);
  margin: 0px;
}

.content footer {
  position:absolute;
  background-color: var(--content-color);
  margin-bottom: 8px;
  word-break: break-all;
}

#meli_Kapunse, #jan_Kense_en_jan_Kete, #meli_lili_pi_len_lawa_loje, #meli_lili_pi_walo_lete, #jan_Kunpesisen, #meli_lili_pi_kasi_loje_pakala {
  scroll-margin: 280px;
}

/*linja pona*/
x-sp {
  display: none;
  font-family: "linja pona";
}

.linjapona, .linjapona * {
  font-family:"linja pona";
}

.linjapona header a {
  font-size: 27px;
}

.linjapona .dropdownmenu li {
  font-size: 27px;
}

.linjapona h1 {
  font-size: 43px;
}

.linjapona h3 {
  font-size: 29px;
}

.linjapona a, .linjapona p {
  font-size: 26px;
}

.linjapona .page a {
  font-family: "Open Sans";
  font-size: 19px;
}

.linjapona [lang|=en], .linjapona [lang|=en] * {
    font-family: "Open Sans";
    font-size: revert;
}

/*Media Queries*/
@media only screen and (min-width: 51em) {
  .content {
    width: 51em;
  }
}

@media only screen and (max-width: 51em) {
  .content {
    padding: 11.622%;
    padding-bottom: 16.7vh;
  }
  .page {
    min-height: 54.125em;
    height: auto;
    padding: 16.7vh 32px;
  }
  img.right {
    float: none;
    margin: auto;
    display: block;
    max-width: 100%;
  }
  img.left {
    float: none;
    margin: auto;
    display: block;
    max-width: 100%;
  }
}

@media only screen and (max-width: 593px) {
  header li {
    display:none;
  }
  
  #settings {
    display:inline;
  }
  
  .shelf {
    display:block;
  }
  
  @media hover:none {
    .dropdown {
      position:relative;
      top: 20px;
    }
  }
}

/*Printed Page*/
@media print {
  header, .shelf {
    display: none;
  }
  hr.pagebreak {
    page-break-after: always;
    border: none;
    background-color: none;
  }
  .content {
    padding-top: 0px;
  }
  .page {
    padding-bottom: 0px;
  }
  .bar {
    display:none;
  }
}
