@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family:"linja pona";
  src: url('https://jan-ne.github.io/linja-pona-4.2.otf')  format('opentype');
  font-weight: 400;
}

:root {
  font-family: "Teachers";
  font-size: 18px;
  --text-color: black;
  --bg-color: #e2e2e4;
  --dropdown-color: #d0d0d0;
  --accent-color: #6393F9;
  --content-color: white;
  --link-color: #326DF7;
}

body {
  margin: 0px;
  color: var(--text-color);
  background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6, th {
  font-weight: 500;
}

h1:lang(tok-Zzzz), h2:lang(tok-Zzzz), h3:lang(tok-Zzzz), h4:lang(tok-Zzzz), h5:lang(tok-Zzzz), h6:lang(tok-Zzzz), th:lang(tok-Zzzz) {
  font-weight: bold;
}

h2 {
  font-size: 1.17rem;
}

/*Light/Dark Mode*/

body.light-mode {
  --text-color: black;
  --bg-color: LightGray;
  --dropdown-color: WhiteSmoke;
  --accent-color: #6393F9;
  --content-color: #fdfdfd;
}

body.dark-mode {
  --text-color: #dedede;
  --bg-color: #131316;
  --dropdown-color: #18181b;
  --accent-color: #08090c;
  --content-color: #1e1e20;
  --link-color: #6393F9;
}

body.dark-mode .dark-invert {
    filter: invert(0.9);
}

/*Default Dark Mode*/
@media (prefers-color-scheme: dark) {
  body { 
    --text-color: #dedede;
    --bg-color: #131316;
    --dropdown-color: #18181b;
    --accent-color: #08090c;
    --content-color: #1e1e20;
  }
  .dark-invert {
    filter: invert(0.9);
  }
}

/*Main*/

header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--text-color);
}

#sitelen-nimi {
  display: flex;
  align-items: center;
  border-radius: 32px;
  margin: 10px;
  max-width: 69vw;
  padding-right: 10px;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--content-color);
  font-size: clamp(1.5rem, 5cqi + 1rem, 2.5rem);
  font-weight: 500;
}

#nimi-lipu {
  padding: 0px 10px;
}

#sitelen-nimi img {
  height: 100px;
  padding: 0px 10px;
  vertical-align: middle;
  background-color: var(--accent-color);
  border-radius: 32px;
}

#sitelen-nimi:lang(tok-Zzzz){
  font-size: 2.7rem;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
  background-color: var(--content-color);
  padding: 10px;
  border-radius: 28px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5em;
  font-weight: 500;
}

nav a:lang(tok-Zzzz){
  font-weight: bold;
}

nav ul {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  list-style-type:none;
}

nav li {
  display: inline;
  padding: 0px 10px;
  cursor: pointer;
}

button {
  cursor: pointer;
}

header button {
  background: none;
  color: var(--text-color);
  border: none;
  font-size: 30px;
  font-weight: 600;
}

.bigdropdown {
  display: none;
  background-color: var(--dropdown-color);
  color: var(--text-color);
}

header button:focus {
  border: none;
  outline: none;
}

.dropdownmenu li {
  padding: 5px 48px;
  text-align: center;
}

.dropdownmenu {
  position: absolute;
  right: 10px;
  top: 92px;
  z-index: 2;
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: clip;
}

.smalldropdown {
  display: none;
  background-color: var(--bg-color);
}

.shelf {
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--content-color);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.shelf-title {
  grid-column: span 5;
}

.shelf ul {
  list-style-type: none;
  padding: 12px;
  margin: 0px;
}

.shelf a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  display: block;
}

.shelf a:lang(tok-Zzzz){
  font-weight: bold;
}

.selected {
  position: relative;
  left: -8px;
  border-left: 2px solid #6393f9;
  padding-left: 6px;
}

.shelf h1 {
  text-align: center;
  margin: 0px;
  font-size: 22px;
}

.book, .item {
  width: fit-content;
  margin: auto;
  margin-bottom: 25px;
}

.book img {
  display: block;
  max-height: 300px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.item img {
  display: block;
  min-height: 100px;
  max-height: 100px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.title {
  background-color: var(--content-color);
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 15px;
}

.title h1 {
  margin: 0px;
}

#nena-pini {
  color: var(--text-color);
  height: 50px;
  position: absolute;
  left: 10px;
  top: 131px;
}

.bar {
  background-color: var(--dropdown-color);
  position: sticky;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  padding: 0px 20px;
  top: 0;
  z-index: 1;
}

.bar button {
  background-color: var(--dropdown-color);
  color: var(--text-color);
  border: none;
}

#modeBtnbar, #sitelenBtnbar {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}

#modeBtnbar:lang(tok-Zzzz), #sitelenBtnbar span:lang(tok-Zzzz) {
  font-size: 1.8rem!important;
}

.toc {
  background-color: var(--dropdown-color);
  display: none;
  position: absolute;
  top: 32px;
  width: fit-content;
  left: 0;
  right: 0;
  margin: auto;
  max-height: calc(100vh - 235px);
  overflow-y: auto;
}

.toc ul {
  list-style: none;
  width: fit-content;
}

.toc a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

.toc a:lang(tok-Zzzz){
  font-weight: bold;
}

.font-menu {
    background-color: var(--dropdown-color);
    display: none;
    position: absolute;
    top: 32px;
    right: 0;
    text-align: right;
}

button.center {
  margin: auto;
  display: flex;
}

.content-scroll {
  margin: auto;
  width: 45em;
  max-width: 100%;
  overflow-x: auto;
}

main {
  margin: auto;
  padding: 96px;
  width: 100%;            
  max-width: 45em;
  min-height: calc(100vh - 230px);
  box-sizing: border-box;
  background-color: var(--content-color);
  transform-origin: 0 0;
}

main h1 {
  scroll-margin: 53px;
}

main h2 {
  scroll-margin: 50px;
}

main a {
  color: var(--link-color);
  text-decoration: none;
}

main .translate-icon {
  position: relative;
  left: 740px;
  top: -78px;
  display: block;
  width: 37px;
  margin: -18.5px -15px;
  padding-bottom: 7px;
  text-align: center;
  background-color: var(--dropdown-color);
  color: var(--text-color);
  font-variant: small-caps;
  font-weight: 500;
  font-size: 22px;
}

#kamapona {
  text-align:center;
  font-size:70px;
  margin: auto;
  background-color: var(--accent-color);
  color: white;
  font-weight: 400;
  width: fit-content;
  padding: 0px 15px;
  border-radius: 15px;
}

#name {
  font-size: 24px;
  background: transparent;
  color: var(--text-color);
}

#nimi {
  font-size: 24px;
  margin: 5px auto;
  padding: 0px 15px;
  border: 2px solid #dedede;
  border-radius: 3px;
  height: 33px;
  width: fit-content;
  min-width: 6.234px;
}
 
.justify p {
  text-align: justify;
}

.page {
  height: 54.125em;
  padding: 96px;
}

.page p {
  margin: auto 0px;
  text-indent: 50px;
}

.page p.poem {
  margin: 11px 0px;
}

code {
    background-color: var(--bg-color);
    font-family: monospace;
    border-radius: 3px;
    padding: 0px 3px;
}

.scroll {
  overflow-x: auto;
}

#poki-open {
  margin: auto;
}

#poki-open th {
  padding-right: 20px;
}

#poki-open a {
  color: var(--text-color);
}

#poki-lawa h2 {
  margin: 15px 0px 5px 0px;
}

#poki-lawa table {
  margin: auto;
}

#poki-lawa table td {
  max-width: clamp(100px, 24vw, 200px);
  overflow: auto;
}

.linja-poki {
  border: 2px solid #dedede;
  border-radius: 3px;
  padding: 5px;
}

table.formatted, table.formatted2 {
  border-collapse: collapse;
}

.formatted th, .formatted td { 
  border: solid 1px var(--content-color);
  padding: 5px 10px
}

.formatted th {
  background-color: var(--accent-color);
  color: white;
}
 
.formatted td {
  background-color: var(--dropdown-color);
}

.formatted2 th, .formatted2 td {
  border: solid 2px var(--bg-color);
  padding: 5px 10px;
}

.center td {
  text-align: center;
}

img.center {
  margin: auto;
  display: block;
  max-width: 100%;
}

img.right {
  float: right;
  margin-left: 10px;
}

img.left {
  float: left;
  margin-right: 10px;
}

.txt-center {
  text-align: center;
}

.dark-mode .invert {
  filter: invert(0.87);
}

.page .txt-center {
  text-indent: 0px;
}

.pos {
  text-transform: lowercase;
  font-variant: small-caps;
}

b {
  font-weight: 500;
}

b:lang(tok-Zzzz) {
  font-weight: bold;
}

abbr {
  text-decoration: none;
  cursor: default;
}

.indent {
  text-indent: 7ch;
  margin: 2px 0px;
}

hr.pagebreak {
  height: 6px;
  background-color: var(--bg-color);
  border: solid 1px var(--bg-color);
  margin: 0px;
}

main footer {
  position:absolute;
  background-color: var(--content-color);
  margin-bottom: 8px;
  max-width: 624px;
}

#meli_Kapunse, #jan_Kense_en_jan_Kete, #meli_lili_pi_len_lawa_loje, #meli_lili_pi_walo_lete, #jan_Kunpesisen, #meli_lili_pi_kasi_loje_pakala {
  scroll-margin: 280px;
}

/*IPA*/
:lang(und-Latn-fonipa){
  font-family: "Noto Sans", Arial;
}

/*sitelen pona*/
:lang(tok-Zzzz){
  font-family: "linja pona";
}

[lang="tok-Zzzz"].alt{
  display: none;
}

:lang(tok-Zzzz) header a {
  font-size: 1.5rem;
}

:lang(tok-Zzzz) .dropdownmenu li {
  font-size: 1.5rem;
}

:lang(tok-Zzzz) h1 {
  font-size: 2.4rem;
}

:lang(tok-Zzzz) h2 {
  font-size: 1.6rem;
}

:lang(tok-Zzzz) a, :lang(tok-Zzzz) p {
  font-size: 1.45rem;
}

:lang(tok-Zzzz) .page a {
  font-family: "Teachers";
  font-size: 1rem;
}

:lang(tok-Zzzz) [lang|=en], :lang(tok-Zzzz) [lang|=en] *, :lang(tok-Zzzz) [lang|=fr], :lang(tok-Zzzz) [lang|=fr] * {
    font-family: "Teachers";
    font-size: revert;
}

:lang(tok-Latn){
  font-family: "Teachers";
}

.sptoggle [lang="tok-Latn"].alt {
  font-size: 1rem;
}

.sptoggle [lang="tok-Zzzz"].alt {
  font-size: 1.5rem;
}

@media only screen and (max-width: 45em) {
  body {
    margin: 0px;
  }
  main {
    padding: 11.622%;
    padding-bottom: 16.7vh;
  }
  .page {
    min-height: 54.125em;
    height: auto;
    padding: 16.7vh 32px;
  }
  img.right {
    float: none;
    margin: auto;
    display: block;
    max-width: 100%;
  }
  img.left {
    float: none;
    margin: auto;
    display: block;
    max-width: 100%;
  }
}

@media only screen and (max-width: 939px) {
  main .translate-icon {
    position: initial;
    float: right;
  }
}

@media only screen and (max-width: 763px) {
  nav li {
    display:none;
  }
  
  #settings {
    display:inline;
  }
  
  .shelf {
    display:block;
  }

  .dropdownmenu {
    right: 0px;
    top: 120px;
    border-radius: 0px 0px 0px 10px;
  }

}

/*Printed Page*/
@media print {
  header, .shelf, .bar, main .translate-icon {
    display: none;
  }
  hr.pagebreak {
    page-break-after: always;
    border: none;
    background-color: none;
  }
  main {
    padding: initial;
  }
  .page {
    padding-bottom: 0px;
  }
}
