@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@font-face {
  font-family:"linja pona";
  src: url('https://jan-ne.github.io/linja-pona-4.2.otf')  format('opentype');
  font-weight: 400px;
}

* {
  font-family: "Open Sans";
}

.linjapona {
  font-family:"linja pona";
}

body {
  margin: 0px;
  background-color: LightGray;
}

header {
  background-color: #6393F9;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

header img {
  padding: 0px 15px;
   vertical-align: middle;
}

header.home {
  display:inline-block;
  float:left;
  font-size: 25px;
}

header a {
  text-decoration:none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

nav {
  display:inline-block;
  float:right;
  margin: 18px 0px;
  margin-right: 25px;
}

header ul {
  display:inline-block;
  margin: 0px;
  padding: 0px;
  list-style-type:none;
}

header li {
  display:inline;
  padding: 0px 10px;
}

header button {
  background:none;
  border:none;
  color: white;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 28px;
}

.bigdropdown {
  display:none;
  background-color:WhiteSmoke;
  color:black;
}

.dropdown:hover .bigdropdown {
    display: block;
  }

header button:focus {
  border: none;
  outline: none;
}

header button:focus .bigdropdown {
  display: block;
}

.dropdownmenu li {
  padding: 5px 48px;
  text-align: center;
}

.dropdownmenu {
  position:absolute;
  right:0;
  margin-top:22;
}

.smalldropdown {
  display:none;
  background-color: #6393F9;
}

@media only screen and (max-width: 593px) {
  header li {
    display:none;
  }
  
  #settings {
    display:inline;
  }
  
  .dropdown:hover .smalldropdown {
      display: block;
    }
   .dropdown:hover .bigdropdown {
      display: block;
    } 
  
  @media hover:none {
    .dropdown {
      position:relative;
      top: 20px;
    }
  }
 
}

.content {
  margin:auto;
  padding: 96px;
  min-height: calc(100vh - 77px);
  box-sizing: border-box;
  background-color: white;
}

@media only screen and (min-width: 826px) {
  .content {
    width: 826px;
  }
}

@media only screen and (max-width: 828px) {
  .content {
    padding: 9.7%;
  }
}

/*Dark Mode*/
@media (prefers-color-scheme: dark) {
  header {
    background-color: #08090c;
  }
  
  header a {
    color: #dedede;
  }
  
  header button {
    color: #dedede;
  }
  
  .body {
    background-color: #131316;
  }
  
  .content {
    background-color: #1e1e20;
    color: #dedede;
  }
  
  h1 {
    color: #dedede;
  }
}
