@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

* {
  font-family: "Open Sans";
}

body {
  margin: 0px;
}

header {
  width: 100%;
  padding: 0px 20px;
}

header.home {
  float:left;
}

header.a {
  text-decoration:none;
  color: black;

h1 {
  color: #000099;
}
